<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".t5Activity"
            android:exported="false" />
        <activity
            android:name=".t4Activity"
            android:exported="false" />
        <activity
            android:name=".firstpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".c1Activity"
            android:exported="true" />
        <activity
            android:name=".c3Activity"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".c4Activity"
            android:exported="true" />
        <activity
            android:name=".c5Activity"
            android:exported="true" />
        <activity
            android:name=".GuideActivity"
            android:exported="true" />
        <activity
            android:name=".my1"
            android:exported="true" />
    </application>

</manifest>